src/staticfiles/*
src/staticfiles/
src/media/*
src/static/*
src/media/
src/static/
src/.idea/
src/.env
**/migrations/00*.py
src/db.sqlite3
.venv/*
.grpc_env/
db.sqlite3
.idea/
media/
venv/
*.pyc
*.mo
storage/
.vscode/
src/errors.log
src/warnings.log